body {
  margin: 0;
}
.head {
  height: 3.2rem;
  width: 100%;
  font-size: 2rem;
  background-color: #30302f;
  /* background-color: #3c3f41; */
  text-align: center;
  display: flex;
}
.column {
  float: left;
  width: 100%;
  height: 100%;
}

.btn {
  color: #a9b7c6;
  padding-top: 1%;
  padding-left: 50%;
}
.title {
  font-family: "Gochi Hand", cursive;
  color: #f9d342;
  font-style: italic;
  padding-top: 1%;
  padding-right: 50%;
}
.title img {
  width: 50%;
}
.key {
  color: #a9b7c6;
  font-style: italic;
  padding-top: 2%;
  font-size: 70%;
  font-family: "Ubuntu", sans-serif;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
#textArea {
  position: absolute;
  line-height: 1.4em;
  top: 3rem;
  bottom: 1.6rem;
  width: 100%;
}
.CodeMirror {
  height: 100%;
  font-family: inherit;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: #30302f;
  height: 1.6rem;
  width: 100%;
}
.footer-main {
  display: flex;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #a9b7c6;
}
.footer-column {
  flex: 50%;
}
.footer-made {
  padding: 0.5%;
  padding-left: 7%;
}
.footer-about {
  padding: 0.5%;
  padding-left: 70%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #f9d342 #30302f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #30302f;
}

*::-webkit-scrollbar-thumb {
  background-color: #f9d342;
  border-radius: 10px;
  border: 3px solid #30302f;
}

/* Hide cursor in readonly */
.readonly .CodeMirror-cursor {
  display: none !important;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding-left: 6px;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: var(--placeholder-color);
}

.cm-s-darcula .CodeMirror-gutters {
  border-right: 1px solid var(--border-color);
}

.CodeMirror-linenumber {
  color: var(--linenumber-color);
}

.unselectable {
  user-select: none;
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}
/* darcula */
.cm-s-darcula.CodeMirror {
  background: #292826;
  color: #a9b7c6;
}
.cm-s-darcula .CodeMirror-gutters {
  background: #30302f;
  border-right: 1px solid #313335;
}
.cm-s-darcula .CodeMirror-cursor {
  border-left: 1px solid #a9b7c6;
}
.cm-s-darcula .CodeMirror-cursor {
  border-left: 1px solid #a9b7c6;
}
.cm-s-darcula {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace,
    serif;
}
